<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
</head>
<body>
    <h1>진단를 위한 흉부 CT 이미지 업로드</h1>

    <h2>정상 / 비정상 </h2>
    <form action="/predict_binary" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Classify Binary">
    </form>

    <h2>암종 분류 (정상, 선암, 대세포암, 편평세포암)</h2>
    <form action="/predict_multi" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Classify Multi-Class">
    </form>
</body>
</html>
